.close-button {
    position: absolute;
    top: 4px;
    right: 4px;
    background: transparent;
    font-size: 24px;
    color: #f44336;
    cursor: pointer;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid red;
}

.chart-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    width: 100%;
    height: 100%;
    align-items: center;
}

.chart-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #006a9f;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 20px;
    cursor: pointer;
    transition: background 0.3s ease;
    text-align: center;
}

.chart-card:hover {
    background: #0a4d96;
}

.chart-icon {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

.chart-title {
    font-size: 18px;
}