.map-chart-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.switch-btn {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 99;
    width: 40px;
    height: 40px;
    border: 1px solid #005d89;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.switch-btn:focus {
    outline: none;
}

.switch-btn:hover {
    opacity: 0.8;
}

.chart-icon {
    width: 33px;
    height: 33px;
    border-radius: 50%;
}


.chart-icon-round {
    width: 33px;
    height: 33px;
    border-radius: 50%;
    animation: rotateMap 10s linear infinite;
}

@keyframes rotateMap {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}


.container {
    margin: 20px;
    font-family: Arial, sans-serif;
}

.selected-year-container {
    width: 100%;
    background-color: #fff;
    text-align: center;
    padding: 10px 10px;
    margin-bottom: 2px;
    margin-top: 16px;
    border-radius: 8px;
}

.selected-year-container h4 {
    font-size: 1.2rem;
    margin-bottom: 12px;
}

.world-map-controls {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}

.selected-year-sliders {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.slider {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.slider label {
    font-size: 1rem;
    margin-bottom: 5px;
}

.slider input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    background: #89cff0;
    /* Water-like blue */
    outline: none;
    border-radius: 5px;
}

.slider input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #0077be;
    /* Deeper blue for the thumb */
    cursor: pointer;
}

.slider input[type="range"]::-moz-range-thumb {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #0077be;
    /* Deeper blue for the thumb */
    cursor: pointer;
}