.roundmap-container {
  position: relative;
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.roundmap-container svg {
  position: relative;
  width: 100%;
  max-width: 1200px;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  margin: 10px auto;
}

svg:active {
  cursor: grabbing;
}

.sphere {
  fill: #b3dcef;
  stroke: #ccc;
  stroke-width: 0.5;
}

.graticule {
  fill: none;
  stroke: #ccc;
  stroke-width: 0.3;
  vector-effect: non-scaling-stroke;
  stroke-opacity: 0.7;
}

.country {
  fill: #82b47a;
  stroke: #fff;
  stroke-width: 0.5;
  cursor: pointer;
  pointer-events: visible;
}

.info {
  position: absolute;
  top: 20px;
  left: 20px;
  background: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.zoom-buttons {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
}

.zoom-buttons button {
  margin-bottom: 5px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 6px 10px;
  cursor: pointer;
}

.map-tooltip {
  position: absolute;
  visibility: hidden;
  background-color: #fefefe;
  border: 1px solid #d1d1d1;
  border-radius: 6px;
  padding: 10px;
  font-size: 12px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}


@media (max-width: 768px) {
  .roundmap-container {
    padding: 10px;
  }
  .map-tooltip {
    font-size: 10px;
    padding: 8px;
  }
}

@media (max-width: 480px) {
  .roundmap-container svg {
    max-width: 100%;
  }
  .map-tooltip {
    font-size: 9px;
  }
}
