.data-vis-container {
    position: relative;
    min-height: 100vh;
}

.content {
    margin-left: 250px;
    padding: 20px;
    height: 100vh;
    overflow-y: auto;
}


.data-vis-page .page-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.worldmap-container {
    max-width: 90vw;
    height: auto;
}